.nav__company {
  color: white;
  text-decoration: none;
}

.nav__company:hover {
  color: white;
}

.container__top {
  background-color:rgba(0, 0, 0, 0.151);
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
}

.container__company {
  background-color: #0d6efd;
  color: white;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.inputs__h3 {
  display: flex;
  width: 420px;
  margin-bottom: 20px; 
  align-content: center;
  color: black;
  padding: auto;
}

.inputs__h3 h3{
  margin: auto;
}

.inputs__data{
  width: 400px;
  margin: auto;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputs__data input{
  margin-bottom: 10px;
  width: 390px;
}

.button__simulate{
  width: 180px;
  border: 4px;
  border-radius: 4px;
  box-shadow: -4px 7px 5px 0px #161312;
}

.button__anchor{
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.answer__response{
  font-size: 35px;
  margin: 10px;
}

.invisible {
  display: none;
}
